<div class="body"></div>
<div class="wrapper">
  <form  >
    <div class="form">
      <h3 class="title">Add</h3>
      <div class="inputfield">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text"id="firstname" class="input form-control " [(ngModel)]="account.firstname" name="firstname" required #firstname="ngModel"  minlength='3' />
        </div>
        <span *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text"id="lastname" class="input form-control " [(ngModel)]="account.lastname" name="lastname" required #lastname='ngModel'  minlength='3'/>
        </div>
        <span *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number"id="age" class="input form-control " [(ngModel)]="account.age" min="0" max="100" name="age" required #age='ngModel' />
        </div>
        <span *ngIf="age?.value===0 && (age?.dirty || age?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="number" id="balance" class="input form-control" style="font-weight: 540;" [(ngModel)]="account.balance" name="employer" required #balance='ngModel' minlength='1'  />
        </div>
        <span *ngIf="!balance?.valid && (balance?.dirty || balance?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label>Gender</label>
          <div class="custom_select">
            <select [(ngModel)]="account.gender" class="form-control form-select" name="gender" #gender='ngModel'>
              <option [value]="" disabled selected>Select</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <span *ngIf="gender.value==='' && (gender?.dirty || gender?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text"id="address" class="input form-control " [(ngModel)]="account.address" name="address" required #address='ngModel' minlength='3' />
        </div>
        <span *ngIf="!address?.valid && (address?.dirty || address?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="employer">Employer</label>
          <input type="text"id="employer" class="input form-control " [(ngModel)]="account.employer" name="employer" required #employer='ngModel' minlength='1'  />
        </div>
        <span *ngIf="!employer?.valid && (employer?.dirty || employer?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email"id="email" class="input form-control " [(ngModel)]="account.email" name="email" required
                 #email='ngModel' [email]="true" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
        </div>
        <span *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text"id="city" class="input form-control " [(ngModel)]="account.city" name="city" required
                 #city='ngModel' minlength='3' />
        </div>
        <span *ngIf="!city?.valid && (city?.dirty || city?.touched)" class="message text-danger">vui long nhap du du lieu </span>
      </div>

      <div class="inputfield">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text"id="state" class="input form-control " [(ngModel)]="account.state" name="state" required
                 #state='ngModel' minlength='2' />
        </div>
        <span *ngIf="!state?.valid && (state?.dirty || state?.touched)" class="message text-danger"> vui long nhap du du lieu </span>
      </div>

      <!--      <div class="inputfield" *ngIf="isEdit" >-->
      <!--        <input type="submit" value="Save" class="btn" (click)="saveEdit()" [disabled]="!myForm.form.valid" />-->
      <!--      </div>-->

      <div class="inputfield submit">
        <button (click)="saveNew()" class="btn btn-primary">Save</button>
        <button class="btn btn-danger" [routerLink]="['/']" routerLinkActive="router-link-active" >Cancel</button>
      </div>
    </div>
  </form>
</div>
