/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}
pagination-template {
  margin: 0;
}
.ngx-pagination {
  padding: 5px 10px;
  margin-bottom: 0;
}



html, body { height: 100%; }
body {
  margin: 0;
  background: #F4F7FE;;
}

app-table table {
  thead {
    position: sticky;
    top: 85px;
    z-index: 999;
  }
  tbody tr:hover {
    background: #F4F7FE;
    cursor: pointer;
  }
}
